.microPickerOuter {

}

.microPickerField {
    position: relative;
    padding-right: 26px;
    padding-left: 26px;
    text-align: center;
}

.microPickerAction {
    width: 26px;
    position: absolute;
    top: 0;
    right: 0;
}

.microPickerAction button {
    width: 26px;
    height: 26px;
    background-color: transparent;
    border: none;
    outline: none;
    box-shadow: none;
    padding: 0;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    cursor: pointer;
}

.microPickerAction button i {
    font-size: inherit;
}

.microPickerDate {
    display: flex;
    justify-content: space-between;
    padding-top: 3px;
}

.microPickerDate select {
    width: 55px;
}

.microPickerDate select:focus {
    outline: none;
}