.selectedPage {
    color: darkblue;
    font-size: 22px;
    font-weight: 700;
}

.pageNumber {
    padding: 2px;
    border: 1px solid grey;
}

.pageNumber.selectedPage {
    font-weight: 700;
    border-color: black;
}