.app-wrapper {
    margin: 0px auto;
    display: grid;
    width: 1200px;
    grid-template-areas:
"h h"
"n c";
    grid-template-rows: 70px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-gap: 10px;
}

.app-wrapper-content {
  grid-area: c;
  background-color: #32394A;
}
body {
    font-size: 16px;
    color: #a9c0cf;
    font-family: Arial;

}
/*body button{
    display: block;
    font-size: 1.1em;
    width:200px;
    text-decoration:none;
    text-align:center;
    font: bold 14px arial;
    text-transform: uppercase;
    padding: 10px 15px;
    outline: none;
    color: #a9c0cf;
    background-color: #32394A;
    background-image: linear-gradient(top, #888 0%, #555 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #888), color-stop(1, #555));
    background-image: -moz-linear-gradient(top, #888 0%, #555 100%);
    background-image: -o-linear-gradient(top, #888 0%, #555 100%);
    border: none;
    border-radius: 3px;
    text-shadow: 0px -1px 0px #000;
    box-shadow: 0px 1px 0px #666,0px 5px 0px #444,0px 6px 6px rgba(0, 0, 0, .6);
    -webkit-transition: ease .15s all;
    -moz-transition: ease .15s all;
    -o-transition: ease .15s all;
    transition: ease .15s all;
    -webkit-animation: none;
    -moz-animation: none;
    -o-animation: none;
    animation: none;
}
body button:hover, body button:focus{
    -webkit-animation: linear 1.2s light infinite;
    -moz-animation: linear 1.2s light infinite;
    -o-animation: linear 1.2s light infinite;
    animation: linear 1.2s light infinite;
}
@-webkit-keyframes light{
    0%   { color: #ddd; text-shadow: 0px -1px 0px #000; }
    50%   { color: #fff; text-shadow: 0px -1px 0px #444, 0px 0px 5px #ffd, 0px 0px 8px #fff; }
    100% { color: #ddd; text-shadow: 0px -1px 0px #000; }
}
@-moz-keyframes light{
    0%   { color: #ddd; text-shadow: 0px -1px 0px #000; }
    50%   { color: #fff; text-shadow: 0px -1px 0px #444, 0px 0px 5px #ffd, 0px 0px 8px #fff; }
    100% { color: #ddd; text-shadow: 0px -1px 0px #000; }
}
@-o-keyframes light{
    0%   { color: #ddd; text-shadow: 0px -1px 0px #000; }
    50%   { color: #fff; text-shadow: 0px -1px 0px #444, 0px 0px 5px #ffd, 0px 0px 8px #fff; }
    100% { color: #ddd; text-shadow: 0px -1px 0px #000; }
}
@keyframes light{
    0%   { color: #ddd; text-shadow: 0px -1px 0px #000; }
    50%   { color: #fff; text-shadow: 0px -1px 0px #444, 0px 0px 5px #ffd, 0px 0px 8px #fff; }
    100% { color: #ddd; text-shadow: 0px -1px 0px #000; }
}
body button:active{
    color: #fff;
    text-shadow: 0px -1px 0px #444,0px 0px 5px #ffd,0px 0px 8px #fff;
    box-shadow: 0px 1px 0px #666,0px 2px 0px #444,0px 2px 2px rgba(0, 0, 0, .9);
    -webkit-transform: translateY(3px);
    -moz-transform: translateY(3px);
    -o-transform: translateY(3px);
    transform: translateY(3px);
    -webkit-animation: none;
    -moz-animation: none;
    -o-animation: none;
    animation: none;
}*/